* {
    padding: 0;
    margin: 0;
}

header {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 15px;
    gap: 30px;
    background-color: rgb(0, 0, 0);
    height: auto;
    color: rgb(255, 255, 255);
}

header p{
    padding: 16px;
}
ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.blanco {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.blanco:hover {
    text-decoration: underline;
}

H1 {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgb(0, 0, 0);
    margin-bottom: 10px;
}




.NS {
    width: 80%;
    margin: auto;
}

.NS img {
    width: 100%;
}

#imgt {
    width: 1000px;
    height: 560px;
}

input {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    font-size: 15px;
    margin: 15px;
    padding: 15px 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    cursor: pointer;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

img {
    height: 200px;
}

.card {
    background-color: rgb(165, 0, 0);
    width: 80%;
    margin: auto;
    display: grid;
    gap: 20px;
    padding: 20px;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding-bottom: 20px;
    padding-top: 20px;
    grid-template-areas:
    "titulo titulo titulo"
    "img texto1 texto1"
    "texto2 texto2 texto2"
    "Masinfo Masinfo Masinifo";
}
.titulo{
    grid-area: titulo;
}
.img{
    grid-area: img;
}
.texto1{
    grid-area: texto1;
}
.texto2{
    grid-area: texto2;
}
.Masinfo{
    grid-area: Masinfo;
}
.ca {
    width: 80%;
    margin: auto;
    display: grid;
    flex-direction: row-reverse;
    gap: 20px;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding-bottom: 20px;
    padding-top: 20px;
    grid-template-areas:
    "tituloñ tituloñ tituloñ"
    "texto1ñ texto1ñ imgñ"
    "texto2ñ texto2ñ texto2ñ"
    "Masinfoñ Masinfoñ Masinifoñ";
}
.tituloñ{
    grid-area: tituloñ;
}
.imgñ{
    grid-area: imgñ;
}
.texto1ñ{
    grid-area: texto1ñ;
}
.texto2ñ{
    grid-area: texto2ñ;
}
.Masinfoñ{
    grid-area: Masinfoñ;
}   

img {
    height: 250px;
    width:280px;
    border: 5px solid rgb(75, 3, 3);
    background-color: black;
}
h3{
    font-size: 25px;
}
footer{color: white;
text-decoration: none;
background-color: black;
height: 50px;
text-align: center;}
body {
    background-image: linear-gradient(rgb(136, 0, 0), rgb(255, 255, 255))
}

.ola{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 3px red solid;
    padding: 6px 12px;
    border-radius: 10px;
    margin: 10px;
}
.volverinicio{
    height: 50px;
}
@media(max-width:500px) {
 
.card {

    grid-template-areas:
    "titulo"
    "img"
    "texto1"
    "texto2"
    "Masinfo";
}

    .ca {
        grid-template-areas:
            "tituloñ"
            "imgñ"
            "texto1ñ"
            "texto2ñ"
            "Masinfoñ"
        ;
    }
}

